<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Report</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar', 'line', 'corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable(
          <%= raw (raw @bar_chart_data).gsub('"', '\'') %>
        );

        var options = {
          chart: {
            // title: 'Daily Show Guests by Occupation',
            // subtitle: 'Years: 1999-2015',
          }
        };

        var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

        chart.draw(data, options);
      };
    </script>

    <script type="text/javascript">
      google.charts.setOnLoadCallback(drawLineChart);

      function drawLineChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('number', 'Year');
        data.addColumn('number', 'Politicians');
        data.addColumn('number', 'ElectionYears');

        data.addRows(
          <%= raw (raw @line_chart_data).gsub('"', '\'') %>
        );

        var options = {
          hAxis: {format: 'none'},
          vAxis: {format: 'percent'},
          legend: {position: 'bottom'}
        };

        var chart = new google.visualization.LineChart(document.getElementById('linechart_material'));

        chart.draw(data, options);
      };
    </script>

    <script type ="text/javascript">
      $(window).resize(function(){
        drawChart();
        drawLineChart();
      });
    </script>
  </head>
  <body>
    <div class="home-return">
      <ul>
      <li>
        <%= link_to "/" do %>
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        <% end %>
      </li>
      </ul>
    </div>
    <div class="report">
      <div class="jumbotron">
        <h1></h1>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="thumbnail">
              <div class="caption">
                <h3>“I’m not going to censor myself to comfort your ignorance.”</h3>
                <p>-Jon Stewart</p>
              </div>
            </div>
            <div class="thumbnail">
              <%= image_tag "jon_stewart.jpg" %>
              <div class="caption" id="photo-wiki">
                <p>
                  <a href="https://en.wikipedia.org/wiki/The_Daily_Show" class="btn btn-primary" role="button" target="_blank">
                    <i class="fa fa-wikipedia-w"></i>&nbsp; Wikipedia
                  </a>
                  <a href="http://www.cc.com/shows/the-daily-show-with-trevor-noah" class="btn btn-primary" role="button" target="_blank">
                    <%= image_tag "comedy_central.png", :style => 'height: 16px; filter: invert(1); -webkit-filter: invert(1); -moz-filter: invert(1);'%>
                  </i>&nbsp; Comedy Central
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <div class="caption">
                <%= image_tag "jon_stewart_cartoon.jpg" %>
              </div>
            </div>
            <div class="thumbnail">
              <div class="caption">
                <h3>“I have complete faith in the continued absurdity of whatever’s going on.”</h3>
                <p>-Jon Stewart</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="thumbnail">
              <h4>
                Daily Show Guests by Occupation
                <small>
                  Years 1999-2015
                </small>
              </h4>
              <div id="columnchart_material" style="width: 95%; height: 750px;"></div>
              <hr>
              <p>Bar chart shows the general occupation category for the
                <strong><%= @guests.count %></strong> Daily Show guests
                over the <strong><%= @guests.map{|guest| guest.year}.uniq.count %></strong> year duration
                of the show with Jon Stewart as host. The y-axis represents the number of guests of a particular
                category per year.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="thumbnail">
              <div class="caption">
                <%= image_tag "jon_stewart.gif" %>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <h4>
                Percentage of Political Guests and Election Years
                <small>
                  Percent of Total Guest Count
                </small>
              </h4>
              <div id="linechart_material" style=""></div>
              <hr>
              <p>Line chart attempts to uncover a relationship between the proportion of political
              guests on the show and presidential election years. </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <div class="caption">
                <h3>“If we amplify everything, we hear nothing.”</h3>
                <p>-Jon Stewart</p>
              </div>
            </div>
            <div class="thumbnail">
              <div class="caption">
                <a href="http://imgur.com/gallery/kuOdJnU" target="_blank"><%= image_tag "merica.png" %></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
