<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Report</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar', 'line']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable(
          [["Year", "Academic", "Acting", "Advocacy", "Athletics", "Business", "Clergy", "Comedy", "Consultant", "Government", "Media", "Military", "Misc", "Musician", "Na", "Political Aide", "Politician", "Science"],
          ["1999", 0, 106, 0, 0, 0, 0, 25, 0, 0, 11, 0, 0, 17, 3, 0, 2, 0],
          ["2000", 0, 99, 1, 3, 1, 0, 12, 0, 0, 21, 0, 0, 13, 4, 1, 13, 0],
          ["2001", 2, 92, 0, 1, 0, 0, 11, 0, 2, 31, 0, 2, 11, 1, 1, 3, 0],
          ["2002", 0, 84, 1, 2, 0, 1, 5, 0, 1, 42, 0, 1, 10, 2, 2, 8, 0],
          ["2003", 4, 74, 0, 0, 0, 1, 12, 1, 2, 41, 0, 1, 7, 6, 1, 14, 1],
          ["2004", 1, 50, 4, 2, 2, 1, 7, 4, 3, 45, 0, 0, 5, 3, 2, 32, 2],
          ["2005", 12, 44, 0, 2, 1, 0, 5, 1, 1, 54, 1, 4, 11, 0, 3, 22, 1],
          ["2006", 9, 44, 0, 5, 1, 0, 8, 4, 3, 47, 1, 3, 6, 1, 3, 25, 1],
          ["2007", 13, 25, 2, 4, 2, 1, 9, 2, 1, 47, 3, 2, 2, 1, 2, 21, 4],
          ["2008", 5, 25, 3, 1, 1, 0, 7, 3, 0, 77, 1, 2, 1, 3, 6, 27, 1],
          ["2009", 11, 22, 1, 7, 4, 1, 7, 2, 5, 59, 1, 5, 5, 0, 3, 26, 4],
          ["2010", 8, 45, 1, 5, 2, 0, 7, 1, 3, 50, 2, 4, 6, 1, 2, 25, 3],
          ["2011", 10, 40, 1, 2, 3, 1, 7, 0, 3, 51, 3, 5, 6, 0, 1, 23, 5],
          ["2012", 8, 33, 2, 7, 3, 2, 6, 0, 3, 50, 1, 6, 5, 4, 1, 29, 2],
          ["2013", 8, 57, 2, 4, 3, 0, 6, 0, 7, 49, 1, 2, 5, 1, 3, 11, 2],
          ["2014", 9, 47, 3, 4, 1, 0, 9, 0, 6, 53, 1, 5, 8, 0, 2, 13, 1],
          ["2015", 2, 33, 3, 3, 1, 0, 7, 0, 0, 24, 1, 3, 5, 0, 3, 14, 1]]
        );

        var options = {
          chart: {
            title: 'Daily Show Guests by Occupation',
            subtitle: 'Years: 1999-2015',
          }
        };

        var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

        chart.draw(data, options);
      };
      $(window).resize(function(){
        drawChart();
      });
    </script>
    <script type="text/javascript">
      google.charts.setOnLoadCallback(drawLineChart);

      function drawLineChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('number', 'Year');
        data.addColumn('number', 'Percent of Politicians');
        data.addColumn('number', 'Election Years');

        data.addRows([
          [1999,  0.37,  0],
          [2000,  0.30,  1],
          [2001,  0.25,  0],
          [2002,  0.11,  0],
          [2003,  0.11,  0],
          [2004,  0.98,  1],
          [2005,  0.76,  0],
          [2006,  0.12,  0],
          [2007,  0.16,  0],
          [2008,  0.12,  1],
          [2009,  0.58,  0],
          [2010,  0.69,  0],
          [2011,  0.48,  0],
          [2012,  0.53,  1],
          [2013,  0.66,  0],
          [2014,  0.48,  0],
          [2015,  0.42,  0]
        ]);

        var options = {
          chart: {
            title: 'Percentage of Political Guests and Election Years',
            subtitle: 'percent of total guest count'
          },
        };

        var chart = new google.charts.Line(document.getElementById('linechart_material'));

        chart.draw(data, options);
      };
      $(window).resize(function(){
        drawLineChart();
      });
    </script>
  </head>
  <body>
    <div class="home-return">
      <ul>
      <li>
        <%= link_to "/" do %>
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        <% end %>
      </li>
      </ul>
    </div>
    <div class="report">
      <div class="jumbotron">
        <h1></h1>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="thumbnail">
              <div class="caption">
                <h3>“I’m not going to censor myself to comfort your ignorance.”</h3>
                <p>-Jon Stewart</p>
              </div>
            </div>
            <div class="thumbnail">
              <%= image_tag "jon_stewart.jpg" %>
              <div class="caption" id="photo-wiki">
                <p>
                  <a href="https://en.wikipedia.org/wiki/The_Daily_Show" class="btn btn-primary" role="button" target="_blank">
                    <i class="fa fa-wikipedia-w"></i>&nbsp; Wikipedia
                  </a>
                  <a href="http://www.cc.com/shows/the-daily-show-with-trevor-noah" class="btn btn-primary" role="button" target="_blank">
                    <%= image_tag "comedy_central.png", :style => 'height: 16px; filter: invert(1); -webkit-filter: invert(1); -moz-filter: invert(1);'%>
                  </i>&nbsp; Comedy Central
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <div class="caption">
                <%= image_tag "jon_stewart_cartoon.jpg" %>
              </div>
            </div>
            <div class="thumbnail">
              <div class="caption">
                <h3>“I have complete faith in the continued absurdity of whatever’s going on.”</h3>
                <p>-Jon Stewart</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="thumbnail">
              <div id="columnchart_material" style="width: 95%; height: 750px;"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="thumbnail">
              <div class="caption">
                <%= image_tag "jon_stewart.gif" %>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <div id="linechart_material" style="width: 95%; height: 450px"></div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <div class="caption">
                <h3>“If we amplify everything, we hear nothing.”</h3>
                <p>-Jon Stewart</p>
              </div>
            </div>
            <div class="thumbnail">
              <div class="caption">
                <%= image_tag "merica.png" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
