<div class="container">
  <div class="page-header">
    <h1>Daily Show Guests <small>data from fivethirtyeight</small></h1>
  </div>
</div>
<nav class="well">
  <div class="container">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
       <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Year <span class="caret"></span></a>
       <ul class="dropdown-menu">
         <% (1999..2015).to_a.each do |year| %>
         <li><a href="/years/<%= year %>"><%= year %></a></li>
         <% end %>
       </ul>
      </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
       <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Category <span class="caret"></span></a>
       <ul class="dropdown-menu">
         <li><a href="/categories/bedroom">Bedroom Furniture</a></li>
         <li><a href="/categories/desks">Desks</a></li>
         <li><a href="/categories/seating">Seating</a></li>
         <li><a href="/categories/storage">Storage</a></li>
         <li><a href="/categories/tables">Tables</a></li>
         <li><a href="/categories/miscellaneous">Misc.</a></li>
       </ul>
      </li>
      </ul>
      <form class="navbar-form navbar-left" role="search" action="#" method="get">
        <div class="form-group">
          <label for="search_text">Search Text</label>
          <input type="text" name="search_text" value="" class="form-control">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</nav>
<div class="container">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>
          Guest Name
        </th>
        <th>
          Year
        </th>
        <th>
          Air Date
        </th>
        <th>
          Specific Occupation
        </th>
        <th>
          General Occupation (Group)
        </th>
      </tr>
    </thead>
    <tbody>
      <% @guests.each do |guest| %>
        <tr>
          <td>
            <%= guest.name %>
          </td>
          <td>
            <%= guest.year %>
          </td>
          <td>
            <%= guest.show_date %>
          </td>
          <td>
            <%= guest.occupation %>
          </td>
          <td>
            <%= guest.occupation_group %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
