<div class="home-return">
  <ul>
  <li>
    <%= link_to "/" do %>
      <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
    <% end %>
  </li>
  <li>
    <%= link_to "/guests/list" do %>
      <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
    <% end %>
  </li>
  </ul>
</div>
<div class="jumbotron">
  <h1></h1>
</div>
<div class="container">
  <div class="page-header">
    <h1>Daily Show Guests <small>data from fivethirtyeight</small></h1>
  </div>
</div>
<%= render "shared/search" %>
<div class="container">
  <% if @guests.empty? %>
  <div class="alert alert-info">
    <em>No Contacts Found for "<%= params[:search_text] %>"</em>
  </div>
  <% elsif params[:search_text] == nil %>
    <p>
      <em><%= pluralize @guest_count, 'guest' %> found</em>
    </p>
  <% else %>
    <p>
      <em><%= pluralize @guest_count, 'guest' %> found: <strong><%= params[:search_text] %></strong></em>
    </p>
  <% end %>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Guest Name</th>
        <th>Year</th>
        <th>Air Date</th>
        <th>Specific Occupation</th>
        <th>General Occupation (Group)</th>
      </tr>
    </thead>
    <tbody>
      <% @guests.each do |guest| %>
        <tr>
          <td>
            <%= guest.name.titleize %>
          </td>
          <td>
            <%= guest.year %>
          </td>
          <td>
            <%= guest.show_date %>
          </td>
          <td>
            <%= guest.occupation.titleize %>
          </td>
          <td>
            <%= guest.occupation_group.titleize %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <nav><%= paginate @guests %></nav>
</div>
